/* Box */
	.searchBox {border-top:2px solid #333; border-bottom:1px solid #e1e1e1; margin-top:30px; font-size:16px;}
	.searchBox .searchRowWrap {border-top:1px solid #e1e1e1; padding:20px 0;}
	.searchBox .searchRowWrap:first-child {border-top:0;}
	.searchBox .searchRowType01 {background:#fafafa; padding-left:28px; padding-right:28px;}
	.searchBox .searchRowType02 {padding-left:31px; padding-right:31px;}
	.searchBox .searchRow {display:table; width:100%;}
	.searchBox .searchItem {display:table-cell; padding:0 3.5px; vertical-align:top;}
	.searchBox .searchItem:first-child {padding-left:0;}
	.searchBox .searchItem:last-child {padding-right:0;}
	.searchBox .searchMonth {display:table; width:100%;}
	.searchBox .searchMonth li {position:relative; display:table-cell; padding:0 18px; font-size:14px;}
	.searchBox .searchMonth li:before {content:""; position:absolute; left:0; top:50%; background:#dedede; width:1px; height:13px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.searchBox .searchMonth li:first-child:before {display:none;}
	.searchBox .searchMonth li a {color:#666;}
	.searchBox .searchMonth li.active a,
	.searchBox .searchMonth li a:hover {font-weight:700; color:black;}

	.scrollBox {overflow-y:auto; border:1px solid #ccc; margin-top:18px; padding:19px; font-size:16px; line-height:26px; color:#666;}

	.boxType01 {background:#f8f8f6; margin-top:29px; padding:25px 30px; font-size:16px; line-height:26px;}
	.boxType01:first-child {margin-top:0;}

/* Button */
	.btnElem {display:inline-block; width:auto; text-align:center;}
	label.btnElem input {position:absolute; left:-100%;}

	/* Button Box */
		.btnBox {margin-top:20px; text-align:center;}
		/*
		.btnBox button {margin:0; width:100%;}
		.btnBox a {display:inline-block; margin:0; width:100%; text-align:center;}
		.btnBox td:first-child {padding-right:6px;}
		.btnBox td:last-child {padding-left:6px;}*/

	/* Button Width */
		.btnW100 {width:100%;}
		.btnW130 {width:130px;}

		.btnWidth01 {padding:0 52px;}
		.btnWidth02 {padding:0 15px;}
		.btnWidth03 {padding:0 35px;}
		.btnWidth04 {padding:0 24px;}
		.btnWidth05 {padding:0 30px;}

	/* Button Height */
		.btnHeight01 {height:46px; line-height:44px;}
		.btnHeight02 {height:34px; line-height:32px;}
		.btnHeight03 {height:37px; line-height:35px;}
		.btnHeight04 {height:38px; line-height:36px;}
		.btnHeight05 {height:58px; line-height:56px;}

	/* Button Font Size */
		.btnFont13 {font-size:13px;}
		.btnFont15 {font-size:15px;}

	/* Button Color */
		.btnBlue {background:#2f4459; border:1px solid #2f4459; border-radius:2px; font-weight:700; color:white;}
		.btnBlue:hover {background:#273b4e; border-color:#273b4e;}

		.btnCyan {background:#008a8a; border:1px solid #008a8a; border-radius:2px; font-weight:700; color:white;}
		.btnCyan:hover {background:#017f7e; border-color:#017f7e;}

		.btnGray {background:#f4f4f4; border:1px solid #f4f4f4; border-radius:2px; font-weight:700; color:#666;}
		.btnPink {background:#d75e7f; border:1px solid #d75e7f; border-radius:2px; font-weight:700; color:white;}

		.btnWhite {background:white; border:1px solid #e1e1e1; border-radius:2px; font-weight:700; color:#333;}
		.btnWhite:hover {border-color:#ccc;}

		.btnWhite02 {background:white; border:1px solid white; border-radius:2px; font-weight:700; color:#333;}

	/* Button Other */
		.btnElem .iconHamburger {margin-left:11px;}
		.btnElem .iconRArr {margin-left:9px;}
		.btnElem .iconSearch {margin-left:12px;}

/* Chart */
	/* Horizontal Chart */
		.horizonBarChart .horizonBarChartPer {display:block; background:white; border-radius:2px; width:70px; font-size:15px; line-height:30px; text-align:center; color:#333;}
		.horizonBarChart .horizonBarChartNum {font-size:18px; color:#999;}
		.horizonBarChart .bars {background:#d7dfe1; height:5px; margin-top:9px;}
		.horizonBarChart .bars div {background:#d75e7f; width:0; height:100%; transition:width .5s;}

	/* Vertical Chart */
		.verticalBarChart {display:block; width:100%;} /* 그래프 영역 최대 Height 직접 지정 */
		.verticalBarChart .bars {display:inline-block; width:100%; height:100%;}
		.verticalBarChart .bars li {float:left; position:relative; height:100%;} /* 그래프 Width, margin(간격) 직접 지정 */
		.verticalBarChart .bars li:first-child {margin-left:0 !important;}
		.verticalBarChart .bars li .bar {position:absolute; bottom:0; width:100%;} /* 그래프 배경 직접 지정 */

/* Form */
	/* Checkbox & Radio */

		/*
			<elem class="chkRdo">
				<label><input type="checkbox" name=""><span>라벨</span></label>
			</elem>
		*/

		.chkRdo {overflow:hidden;}
		.chkRdo label {position:relative; cursor:pointer;}
		.chkRdo label input {position:absolute; left:-1000em;}
		.chkRdo label span:before {content:""; display:inline-block; vertical-align:middle;}
		.chkRdo label span:after {content:"";}

		.chkRdo.chkRdoSingle span:before {margin:0;}
		.chkRdo.chkRdoSingle span {padding:0;}
		/* Type01 */
			.chkRdo01 {font-size:15px; color:#333;}
			.chkRdo01 span:before {border:2px solid #ccc; border-radius:2px; width:14px; height:14px; margin-right:9px;}
			.chkRdo01 input:checked + span:before {background: url("./images/icon/icon_checkType01.png") center no-repeat #00b3ba; border-color:#00b3ba;}
			.chkRdo01 input:disabled + span:before {background-color:#dcdcdc; border-color:#dcdcdc;}

		/* Type02 */
			.chkRdo02 {font-size:15px; color:#333;}
			.chkRdo02 span {position:relative; padding-left:28px;}
			.chkRdo02 span:before {position:absolute; left:0; top:50%; border:2px solid #ccc; border-radius:50%; width:14px; height:14px; margin-right:9px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
			.chkRdo02 span:after {display:none; position:absolute; left:4px; top:50%; background:#00b3ba; border-radius:50%; width:10px; height:10px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
			.chkRdo02 input:checked + span:before {border-color:#00b3ba;}
			.chkRdo02 input:checked + span:after {display:block;}
			.chkRdo02 input:disabled + span:before {border-color:#ccc;}
			.chkRdo02 input:checked:disabled + span:after {display:block; background:#ccc;}

	/* Datepicker */
		.datepicker {position:relative;}
		.datepicker .ui-datepicker-trigger {cursor:pointer;}

		body > .ui-datepicker {background:white; border:1px solid #00b3ba; width:350px; padding:10px;}
		body > .ui-datepicker .ui-datepicker-title {font-size:17px; font-weight:700; line-height:38px;}
		body > .ui-datepicker .ui-datepicker-prev {background: url("./images/icon/icon_calendar_prev.png") center no-repeat; left:72px; top:3px; width:42px; height:42px; cursor:pointer;}
		body > .ui-datepicker .ui-datepicker-next {background: url("./images/icon/icon_calendar_next.png") center no-repeat; right:72px; top:3px; width:42px; height:42px; cursor:pointer;}
		body > .ui-datepicker .ui-datepicker-year {font-size:18px;}
		body > .ui-datepicker .ui-datepicker-month {font-size:28px;}
		body > .ui-datepicker .ui-datepicker-calendar thead {background:#f0f3f8; font-weight:700; text-transform:uppercase; color:#2f4459;}
		body > .ui-datepicker .ui-datepicker-calendar th {height:29px; padding:0 8px; text-align:center; vertical-align:middle;}
		body > .ui-datepicker .ui-datepicker-calendar th:first-child {width:59px; text-align:right;}
		body > .ui-datepicker .ui-datepicker-calendar th:last-child {width:59px; text-align:left;}
		body > .ui-datepicker .ui-datepicker-calendar td {height:29px; padding:0; font-family:"verdana"; text-align:center; vertical-align:middle;}
		body > .ui-datepicker .ui-datepicker-calendar td span,
		body > .ui-datepicker .ui-datepicker-calendar td a {display:inline-block; border:1px solid transparent; border-radius:50%; width:34px; padding:0; line-height:32px; text-align:center;}
		body > .ui-datepicker .ui-datepicker-calendar td span {color:#b9bfd7;}
		body > .ui-datepicker .ui-datepicker-calendar td a {color:#666;}
		body > .ui-datepicker .ui-datepicker-calendar td:first-child {text-align:right;}
		body > .ui-datepicker .ui-datepicker-calendar td:last-child {text-align:left;}
		body > .ui-datepicker .ui-datepicker-calendar tr:first-child td {padding-top:8px;}
		body > .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {border:1px solid #00b3ba;}
		body > .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {border:1px solid #d76081;}

		/* Type 01 */
		.datepickerType01 {position:relative;}
		.datepickerType01 .ui-datepicker-trigger {position:absolute; left:7px; top:50%; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
		.datepickerType01 input {padding-left:30px;}

	/* File */
		.fileAttach {position:relative;}
		.fileAttach input[type="file"] {position:absolute; left:-1000em;}

	/* Input */
		.inputType01 {outline:0; background:white; border:1px solid #e1e1e1; height:36px; padding:7px;}
		.inputType01:focus {border-color:#00b3ba;}
		.inputType01:disabled {background:#f8f8f6;}

		.inputType02 {outline:0; background:white; border:1px solid #ccc; height:38px; padding:7px; font-size:15px;}
		.inputType02:focus {border-color:#00b3ba;}
		.inputType02:disabled {background:#f8f8f6;}

	/* Select */
		.selectBox {position:relative;}
		span.selectBox {display:inline-block;}
		.selectBox:before {content:""; position:absolute; top:50%; background-repeat:no-repeat; background-size:100% 100%; transform:translate(0, -50%); -ms-transform:translate(0, -50%); transition:transform .2s; z-index:10;}
		.selectBox:after {content:""; position:absolute; background:white; right:0; top:0; height:100%;}
		.selectBox.active:before {transform:translate(0, -50%) rotate(180deg); -ms-transform:translate(0, -50%) rotate(180deg);}
		.selectBox select {outline:0; height:100%;}


		.selectType01 {border:1px solid #cacaca; height:39px;}
		.selectType01:before {right:20px; background-image: url("./images/icon/icon_selectType01.png"); width:11px; height:6px;}
		.selectType01 select {padding:0 50px 0 18px; font-size:15px; color:#333;}
		.selectType01 option:checked,
		.selectType01 option:hover {background:#f0f3f8; height:38px;}

		.selectType01.active {border-color:#00b3b8;}

		.selectType02 {height:18px;}
		.selectType02:before {right:6px; background-image: url("./images/icon/icon_selectType02.png"); width:7px; height:4px;}
		.selectType02:after {right:0; top:0; background-image: url("./images/icon/icon_selectType02BG.png"); width:19px; height:18px;}
		.selectType02 select {padding-right:28px; font-size:13px; font-weight:bold; line-height:18px; color:#333;}

		.selectType03 {background:white; border:1px solid #ccc; height:38px;}
		.selectType03:before {right:10px; background-image: url("./images/icon/icon_selectType03.png"); width:7px; height:4px;}
		.selectType03:after {width:27px;}
		.selectType03 select {padding:0 0 0 15px; font-size:15px; font-weight:bold; color:#333;}
		.selectType03 select:disabled {background:#f8f8f6;}
		.selectType03.active {border-color:#00b3b8;}

	/* Textarea */
		.textareaLimit {position:absolute;}
		.textareaType01 {outline:0; background:white; border:1px solid #ccc; width:100%; padding:7px; resize:none;}
		.textareaType01:focus {border-color:#00b3ba;}
		.textareaType01:disabled {background:#f8f8f6;}

		.textareaType02 {outline:0; background:white; border:1px solid #ccc; width:100%; padding:30px; margin-top:25px; font-size:16px; line-height:30px; resize:none;}
		.textareaType02:focus {border-color:#00b3ba;}
		.textareaType02:disabled {background:#f8f8f6;}

		.textareaType03 {position:relative; background:white; border:1px solid #ccc; width:100%; margin-top:25px; padding-bottom:50px; font-size:16px; line-height:30px;}
		.textareaType03 textarea {outline:0; height:100%; padding:30px; resize:none;}
		.textareaType03 .textareaLimit {right:19px; bottom:19px; font-size:14px; font-weight:700; line-height:15px; color:#999;}
		.textareaType03 .textareaLimit span {color:black;}
		.textareaType03.active {border-color:#00b3ba;}
		
/* Icon */
	.iconElem {position:relative; display:inline-block; background-repeat:no-repeat; background-size:cover; text-indent:-1000em; vertical-align:middle;}
	.iconElem:before,
	.iconElem:after {content:""; position:absolute;}
	.iconHover:hover .iconElem,
	.iconHover.active .iconElem {background-position:0 100%;}

	.iconClip {background-image: url("./images/icon/icon_clip.png"); width:18px; height:20px;}
	.iconClock {background-image: url("./images/icon/icon_clock.png"); width:53px; height:64px;}
	.iconDelete {background-image: url("./images/icon/icon_delete.png"); width:15px; height:15px;}
	.iconDocument {background-image: url("./images/icon/icon_document.png"); width:18px; height:22px;}
	.iconDownload {background-image: url("./images/icon/icon_download.png"); width:15px; height:11px;}
	.iconEye {background-image: url("./images/icon/icon_eye.png"); width:22px; height:14px;}
	.iconGallery {background-image: url("./images/icon/icon_gallery.png"); width:22px; height:22px;}
	.iconHamburger {background-image: url("./images/icon/icon_hamburger.png"); width:18px; height:13px;}
	.iconHeart {background-image: url("./images/icon/icon_heart.png"); width:18px; height:16px;}
	.iconList {background-image: url("./images/icon/icon_list.png"); width:22px; height:14px;}
	.iconPicture {background-image: url("./images/icon/icon_picture.png"); width:23px; height:22px;}
	.iconPlay {background-image: url("./images/icon/icon_play.png"); width:36px; height:42px;}
	.iconPlay02 {background-image: url("./images/icon/icon_play02.png"); width:17px; height:19px;}
	.iconPlus {background-image: url("./images/icon/icon_plus.png"); width:21px; height:21px;}
	.iconPlus02 {background-image: url("./images/icon/icon_plus02.png"); width:21px; height:21px;}
	.iconRArr {background-image: url("./images/icon/icon_btnRArrow.png"); width:6px; height:11px;}
	.iconSearch {background-image: url("./images/icon/icon_search.png"); width:18px; height:18px;}
	.iconViewPrev {background-image: url("./images/icon/icon_viewPrevNext.png"); width:11px; height:6px;}
	.iconViewNext {background-image: url("./images/icon/icon_viewPrevNext.png"); background-position:0 100%; width:11px; height:6px;}
	.iconX {background-image: url("./images/icon/icon_popup01Close.png"); width:25px; height:25px;}

/* List */
	.listTop {overflow:hidden; font-size:17px; font-weight:700;}

	.listSwapBtn {overflow:hidden;}
	.listSwapBtn a {float:left; position:relative; border:1px solid #e1e1e1; width:53px; line-height:34px; text-align:center;}
	.listSwapBtn a:hover,
	.listSwapBtn a.active {border:1px solid #939393; z-index:10;}
	.listSwapBtn a:first-child {border-top-left-radius:2px; border-bottom-left-radius:2px;}
	.listSwapBtn a:last-child {border-top-right-radius:2px; border-bottom-right-radius:2px; margin-left:-1px;}
	
	.listNew {display:inline-block; background:#ff6c00; border-radius:50%; width:20px; font-size:10px; line-height:20px; text-align:center; vertical-align:top; color:white;}

	.listType01 {margin-top:40px;}
	.listType01 .list {border-top:2px solid #333; margin-top:20px;}
	.listType01 .list > li {position:relative; border-bottom:1px solid #e1e1e1;}
	.listType01 li > a {display:block; min-height:230px; padding:39px 160px 39px 230px;}
	.listType01 .thumbArea {left:0; top:17px; width:200px; height:200px;}
	.listType01 .listCtgr {overflow:hidden; font-size:16px; color:#666;}
	.listType01 .listCtgr li {float:left; position:relative; margin-left:8px; padding-left:12px; font-weight:700; line-height:17px;}
	/*.listType01 .listCtgr li:nth-child(2):before {content:""; position:absolute; left:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%);}
	.listType01 .listCtgr li:nth-child(3):before {content:""; position:absolute; left:0; top:50%; background: url("./images/icon/icon_listCtgr.png") no-repeat; width:6px; height:9px; transform:translate(0, -50%);}*/
	.listType01 .listCtgr li:first-child {margin-left:0; padding-left:0;}
	.listType01 .listTitle {display:inline-block; border-bottom:1px solid transparent; margin-top:16px; font-size:20px; font-weight:700; color:#333;}
	.listType01 a:hover .listTitle {border-bottom:1px solid #008c8c; color:#008c8c;}
	.listType01 .listInfo {margin-top:13px;}
	.listType01 .listInfo div {overflow:hidden; font-size:16px; line-height:24px;}
	.listType01 .listInfo dt {float:left; color:#999;}
	.listType01 .listInfo dd {float:left; position:relative; margin:0 9px; padding-right:13px; color:#333;}
	.listType01 .listInfo dd:before {content:""; position:absolute; right:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.listType01 .listInfo dd:last-child:before {display:none; padding-right:0; margin-right:0;}
	.listType01 .listDesc {margin-top:10px; font-size:16px; line-height:23px; color:#333;}
	.listType01 .listBtn {position:absolute; right:0; top:50%; width:140px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.listType01 .listBtn a,
	.listType01 .listBtn button {margin-top:7px;}
	.listType01 .listBtn a:first-child,
	.listType01 .listBtn button:first-child {margin-top:0}

	.listType0101 li > a {min-height:173px; padding:27px 160px 27px 165px;}
	.listType0101 .thumbArea {width:140px; height:140px;}

	.listType0102 li > a {min-height:173px; padding:27px 160px 27px 0;}
	.listType0102 .thumbArea {width:140px; height:140px;}

	.listType0103 .list {counter-reset:listNum;}
	.listType0103 .list .thumbArea:before {counter-increment:listNum; content:counter(listNum); position:absolute; left:0; top:0; background:#ef9730; width:35px; height:35px; line-height:35px; text-align:center; color:white; z-index:10;}
	.listType02 .list {overflow:hidden; margin:0 0 0 -25px;}
	.listType02 .list li {float:left; border:1px solid #e0e2e1; width:321px; margin:18px 0 0 25px;}
	.listType02 .list button {display:block; text-align:left;}
	.listType02 .listInfoWrap {height:75px; padding:15px 22px 0; font-size:16px; line-height:25px; color:#333;}
	.listType02 .listTitle {font-weight:700;}
	.listType02 .listInfo {overflow:hidden;}
	.listType02 .listInfo span {float:left; position:relative; padding:0 10px 0 14px;}
	.listType02 .listInfo span:before {content:""; position:absolute; left:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.listType02 .listInfo span:first-child {padding-left:0;}
	.listType02 .listInfo span:first-child:before {display:none;}
	.listType02 .thumbArea {position:relative; width:100%; height:216px;}
	.listType02 .thumbArea img {width:100%;}
	.listType02 .thumbArea:before {content:""; position:absolute; left:0; top:0; background: rgba(0, 0, 0, .2); width:100%; height:100%; z-index:10;}
	.listType02 .thumbArea .iconPlay {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.listType02 button:hover .iconPlay {background-position:0 100%;}
	.listType02 .listHitView {display:table; width:100%; font-size:16px; text-align:center; color:#333;}
	.listType02 .listHitView > * {display:table-cell; border-left:1px solid #e0e2e1; height:48px; vertical-align:middle;}
	.listType02 .listHitView > *:first-child {border-left:0;}
	.listType02 .listHitView .iconElem {margin-right:15px;}

	.listType03 {margin-top:40px;}
	.listType03 .tblData {margin-top:15px;}
	.listType03 .tblData th {height:50px;}
	.listType03 .tblData td {height:48px;}
	.listType03 .listTitle {display:inline-block; border-bottom:1px solid transparent; font-size:20px; font-weight:700; color:#333;}
	.listType03 a:hover .listTitle {border-bottom:1px solid #008c8c; color:#008c8c;}
	.listType03 .listBtnArea {margin-top:-56px; text-align:right;}

	.listType04 {margin-top:40px;}
	.listType04 .list {overflow:hidden; margin:0px 0 0 -25px;}
	.listType04 .list > li {float:left; border:1px solid #e0e2e1; width:321px; height:364px; margin:17px 0 0 25px;}
	.listType04 .list a {display:block; height:100%;}
	.listType04 .thumbArea {position:relative; width:100%; height:216px;}
	.listType04 .thumbArea:after {content:""; position:absolute; left:0; top:0; background:rgba(0, 0, 0, .2); width:100%; height:100%;}
	.listType04 .listInfo {position:relative; height:102px; padding-top:27px; line-height:51px;}
	.listType04 .listType {position:absolute; left:20px; top:-25px; border-radius:50%; width:50px; height:50px;}
	.listType04 .listType.type01 {background:#008a8a;}
	.listType04 .listType.type02 {background:#786f9a;}
	.listType04 .listType.type03 {background:#eec14a;}
	.listType04 .listType .iconElem {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.listType04 .listTitle {float:left; width:223px; padding-left:20px; font-size:18px; font-weight:700; color:#333;}
	.listType04 .listCtgr {float:right; border-left:1px solid #e0e2e1; width:93px; font-size:16px; line-height:51px; text-align:center;}
	.listType04 .listProgress {overflow:hidden; background:#f0f3f8; border-top:1px solid #e0e2e1; height:44px; padding:8px 16px;}
	.listType04 .listProgress .num {float:left; background:white; border-radius:2px; width:70px; font-size:15px; line-height:30px; text-align:center; color:#333;}
	.listType04 .listGraphWrap {float:right; background:#d7dfe1; width:187px; height:5px; margin-top:13px;}
	.listType04 .listGraph {display:block; background:#d75e7f; width:0; height:100%;}

	.listType05 .list {overflow:hidden; font-size:16px; line-height:22px; text-align:center;}
	.listType05 .list li {float:left; width:20%; margin-top:40px;}
	.listType05 .list .thumbArea {position:relative; width:61px; height:61px; margin:0 auto;}
	.listType05 .listName {margin-top:10px;color:#333;}
	.listType05 .listPos {color:#999;}
	
	.listCalendar .controlTop {height:103px; text-align:center;}
	.listCalendar .lastMonth,
	.listCalendar .nextMonth {background-image: url("./images/icon/icon_listCalendar.png"); background-repeat:no-repeat; width:13px; height:22px; text-indent:-1000em; vertical-align:7px;}
	.listCalendar .lastMonth {margin-right:60px;}
	.listCalendar .nextMonth {background-position:100% 0; margin-left:60px;}
	.listCalendar .lastMonth:hover {background-position:0 100%;}
	.listCalendar .nextMonth:hover {background-position:100% 100%;}
	.listCalendar .txtYear,
	.listCalendar .txtMonth {border:none;}
	.listCalendar .txtYear select {font-size:25.28px; font-weight:800;}
	.listCalendar .txtMonth select {margin-left:30px; font-size:38px; font-weight:800;}
	.listCalendar .btnToday {position:relative; right:-26px; vertical-align:7px;}
	.listCalendar table {border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5;}
	.listCalendar thead th,
	.listCalendar thead td {height:49px; font-size:16px; vertical-align:middle; color:#333;}
	.listCalendar tbody td {position:relative; border-top:1px solid #d5d5d5; border-left:1px solid #d5d5d5; text-align:center; vertical-align:middle;}
	/* .listCalendar tbody td:first-child {border-left:0;} */
	/* .listCalendar tbody tr:first-child td {border-top:2px solid #333;} */
	.listCalendar .day {position:absolute; right:24px; top:23px; font-family:"Century Gothic"; font-size:18px; font-weight:700; color:#949292;}
	.listCalendar .txtStat {position:absolute; left:22px; top:25px; font-size:15px;}
	.listCalendar .otherDay .day {font-size:15px; font-weight:700; color:#c8c7c7;}
	.listCalendar .reservationNot .txtStat {color:#e75a86;}
	.listCalendar .reservationEnd {background:#f8f8f6;}
	.listCalendar .reservationEnd .txtStat {color:#556b79;}
	
	.listCalendar .fc-row table thead tr th {background-color:transparent;}
	/* .listCalendar .fc-row:first-child tr:first-child td {border-top:2px solid #333;} */
	.listCalendar .fc-day-number {position:absolute; right:24px; top:23px; font-family:"Century Gothic"; font-size:18px; font-weight:700; color:#949292;}
	.listCalendar .fc-day-top.fc-other-month {opacity:1;}
	.listCalendar .fc-other-month .fc-day-number {font-size:15px; font-weight:700; color:#c8c7c7;}

/* No Contents */
	.noCon.type01 {position:relative; background:#fafafa; border-top:2px solid #333; min-height:500px; font-size:15px; line-height:31px; text-align:center;}
	.noCon.type01 strong {font-size:16px;}
	
/* Paging */
	.paging {margin-top:40px; font-size:15px; text-align:center;}
	.paging a {display:inline-block; width:33px; line-height:33px; vertical-align:top;}
	.paging > a {position:relative; border:1px solid #e1e1e1; border-radius:2px; text-indent:-1000em;}
	.paging > a.first:before {content:""; position:absolute; left:50%; top:50%; background: url("./images/icon/icon_listFirst.png") no-repeat; width:12px; height:9px; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.paging > a.next {margin-right:53px;}
	.paging > a.next:before {content:""; position:absolute; left:50%; top:50%; background: url("./images/icon/icon_listNext.png") no-repeat; width:6px; height:9px; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.paging > a.last:before {content:""; position:absolute; left:50%; top:50%; background: url("./images/icon/icon_listLast.png") no-repeat; width:12px; height:9px; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.paging > a.prev {margin-left:53px;}
	.paging > a.prev:before {content:""; position:absolute; left:50%; top:50%; background: url("./images/icon/icon_listPrev.png") no-repeat; width:6px; height:9px; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.paging .pagingNum a {border-bottom:1px solid transparent; color:#00907f;}
	.paging .pagingNum a.active,
	.paging .pagingNum a:hover {border-bottom:1px solid #00907f;}

/* Paragraph */
	.para01 {font-size:16px; line-height:28px; color:#666;}
	.para02 {font-size:20px; padding:60px 0; line-height:36px; text-align:center; color:#666;}
	.para03 {margin-top:50px; font-size:25px; text-align:center; color:black;}

/* Stat */
	.statTxt01 .type01 {color:#ef9730;}
	.statTxt01 .type02 {color:#3f68b8;}
	.statTxt01 .type03 {color:#f25871;}

/* Tab Menu */
	.tabMenu01 {font-size:16px; text-align:center;}
	.tabMenu01 li {display:inline-block; width:157px; height:116px; margin-left:7px;}
	.tabMenu01 li:first-child {margin-left:0;}
	.tabMenu01 a {display:block; position:relative; border:1px solid #e1e1e1; height:100%; color:#333;}
	.tabMenu01 li.active a,
	.tabMenu01 a:hover {background:#00b3ba; border:1px solid #00b3ba; color:white;}
	.tabMenu01 .elemC span {display:block; margin-bottom:17px; font-size:32px; font-weight:700;}

	.tabMenu02 {overflow:hidden; margin-top:20px;}
	.tabMenu02 li {position:relative; display:table-cell; height:57px; margin-left:-4px; vertical-align:bottom;}
	.tabMenu02 li:first-child {margin-left:0;}
	.tabMenu02 a {display:block; background:#f0f3f8; border:1px solid #e4e4e6; padding:0 30px; font-size:16px; font-weight:700; line-height:46px; text-align:center; color:#788686;}
	.tabMenu02 li.active a,
	.tabMenu02 li a:hover {background:#2f4459; border:1px solid #2f4459; line-height:55px; color:white;}
	.tabMenu02 li.active {z-index:10;}
	
	.tabMenuFull {display:table; table-layout:fixed; width:100%;}
	.tabMenuFull > li {display:table-cell;}

/* Table */
	.tblData {border-top:2px solid #333; margin-top:30px;}
	/* .tblData:first-child {margin-top:0;} */
	.tblData > thead > tr > th {background:#f8f8f6; padding:15px 0; font-size:16px; font-weight:700; color:#333; vertical-align:middle;}
	.tblData > tbody > tr > th {background:#f8f8f6; padding:15px 0; font-size:16px; font-weight:700; color:#333; vertical-align:middle;}
	.tblData tbody > tr > td {background:white; padding:7px; font-size:16px; line-height:26px; vertical-align:middle; color:#666;}

	.tblData02 {border:1px solid #d0d0d0;}
	.tblData02 thead > tr > th {background:#efefef; padding:13px 0; font-size:16px; font-weight:700; color:#333;}
	.tblData02 tbody > tr > th {font-weight:700; vertical-align:middle;}
	.tblData02 tbody > tr > td {padding:13px 0;}

	.tblSchedule td {position:relative;}
	.tblSchedule div {position:absolute; left:0; top:50%; width:100%; height:25px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.tblSchedule div.type01 {background:#d9dfe9;}
	.tblSchedule div.type02 {background:#edc149;}
	.tblSchedule div.type03 {background:#00b3ba;}

	.tblBorderLeft {border-left:1px solid #d0d0d0 !important;}
	/* Table Font Size */
		.tblFont15 * {font-size:15px !important;}

	/* Table Horizontal Border */
		.tblHorizontalBorder thead > tr > th,
		.tblHorizontalBorder tbody > tr > th,
		.tblHorizontalBorder tbody > tr > td {border-bottom:1px solid #d5d5d5;}

	/* Table Horizontal & Vertical Border */
		.tblHorVerBorder th,
		.tblHorVerBorder td {border-left:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;}
		.tblHorVerBorder th:first-child,
		.tblHorVerBorder td:first-child {border-left:0;}

	/* TD Padding */
		.tblTDPad > tbody > tr > td {padding:19px;}
		.tblTDPad02 > tbody > tr > td {padding:11px 23px;}

/* Table Layout */
	.tblLayout {table-layout:fixed; display:table; width:100%;}
	.tblLayout > * {display:table-cell; height:38px; padding:3px;}
	.tblLayout > *:first-child {padding-left:0;}
	.tblLayout > *:last-child {padding-right:0;}

/* Text List */
	.txtList01 {display:table; margin-top:15px; font-size:16px; line-height:30px;}
	.txtList01 > * {display:table-row;}
	.txtList01 > * > * {display:table-cell;}
	.txtList01 > * > *:first-child {position:relative; padding-left:15px; font-weight:700; color:#333;}
	.txtList01 > * > *:first-child:before {content:""; position:absolute; left:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.txtList01 > * > *:last-child {position:relative; margin:0 9px; padding-right:13px; color:#999;}

	.txtList02 {margin-top:40px;}
	.txtList02 .title {font-size:16px; font-weight:700; color:#333;}
	.txtList02 .list {margin-top:15px; font-size:15px; line-height:30px;}
	
	.txtList03 {margin-top:15px; font-size:16px; line-height:26px; color:#333;}
	.txtList03:first-child {margin-top:0;}
	.txtList03 > * {position:relative; padding-left:13px;}
	.txtList03 > *:before {content:""; position:absolute; left:0; top:10px; background:#b3b3b3; border-radius:50%; width:3px; height:3px;}

/* Title */
	*[class^=title] span {font-size:16px; font-weight:400; color:#666;}
	.title01 {margin-top:25px; font-size:18px; font-weight:700; color:#333;}
	.title01:first-child {margin-top:0;}

/* Thumb Area */
	.thumbArea {overflow:hidden; position:absolute; background:#eee;}
	.thumbArea img {position:absolute; left:50%; top:50%; width:100%; max-width:100%; max-height:100%; transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}
	.thumbArea.thumbRound {border-radius:50%;}

	.thumbArea.default01 {background: url("./images/img/img_brdDefault01.png") no-repeat; background-size:100% 100%;}
	.thumbArea.default02 {background: url("./images/img/img_brdDefault02.png") no-repeat; background-size:100% 100%;}

/* View */
	/* File List */
		.viewFileList {background:#fafafa; margin-top:15px; padding:15px 22px 15px 0; font-size:16px; line-height:32px;}
		.viewFileList.type01 {background:none;}
		.viewFileList li {margin-left:22px;}
		.viewFileList a {color:#333;}
		.viewFileList .iconClip {margin-right:9px;}
		.viewFileList .iconDownload {margin-left:12px;}
		.viewFileList .viewFileDelete {width:auto; height:auto; margin-left:10px;}

	.viewType01 {border-top:2px solid #333;}
	.viewType01 .viewInfoWrap {position:relative; background:#fafafa; height:338px; padding:43px 47px 41px 279px;}
	.viewType01 .thumbArea {position:absolute; left:39px; top:33px; width:200px; height:200px;}
	.viewType01 .viewCtgr {overflow:hidden; font-size:16px; color:#666;}
	.viewType01 .viewCtgr li {float:left; position:relative; margin-left:8px; padding-left:13px; font-weight:700; line-height:17px;}
	/* .viewType01 .viewCtgr li:nth-child(2):before {content:""; position:absolute; left:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%);}
	.viewType01 .viewCtgr li:nth-child(3):before {content:""; position:absolute; left:0; top:50%; background: url("./images/icon/icon_listCtgr.png") no-repeat; width:6px; height:9px; transform:translate(0, -50%);} */
	.viewType01 .viewCtgr li:first-child {margin-left:0; padding-left:0;}
	.viewType01 .viewTitle {display:inline-block; border-bottom:1px solid transparent; margin-top:16px; font-size:20px; font-weight:700;}
	.viewType01 .viewInfo > div {display:table; width:100%; margin-top:14px;}
	.viewType01 .viewInfo > div > * {display:table-cell;}
	.viewType01 .viewInfo dt {position:relative; width:115px; padding-left:15px; font-size:16px; font-weight:700; vertical-align:top; color:#333;}
	.viewType01 .viewInfo dt:before {content:""; position:absolute; left:0; top:5px; background:#9da7a9; border-radius:50%; width:4px; height:4px;}
	.viewType01 .viewInfo dd {font-size:16px; color:#666;}
	.viewType01 .viewInfo dd:nth-child(4) {width:208px;}
	.viewType01 .viewBtn {margin:21px 0 34px; text-align:center;}
	.viewType01 .viewTitle02 {font-size:18px; font-weight:700; margin-top:41px;}
	.viewType01 .tblData {margin-top:17px;}

	.viewType02 .viewTop {border-top:2px solid #333; border-bottom:1px solid #d5d5d5; min-height:100px; padding:23px 20px;}
	.viewType02 .viewTitle {font-size:25px; font-weight:700; line-height:30px; color:#333;}
	.viewType02 .viewInfo {overflow:hidden; margin-top:15px; font-size:16px;}
	.viewType02 .viewInfo dt {float:left; color:#999;}
	.viewType02 .viewInfo dd {float:left; position:relative; margin:0 9px; padding-left:13px; color:#333;}
	.viewType02 .viewInfo dd:before {content:""; position:absolute; left:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.viewType02 .viewContents {padding:28px 31px;}
	.viewType02 .viewContents.type01 {border-bottom:1px solid #bcbcbc;}
	.viewType02 .viewContentsIn {min-height:275px; font-size:16px; line-height:26px;}
	.viewType02 .viewContentsIn * {max-width:100%;}
	.viewType02 .viewPrevNext {border-top:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc;font-size:15px; line-height:49px;}
	.viewType02 .viewPrevNext a {color:#333;}
	.viewType02 .viewPrevNext .viewPrev {border-bottom:1px solid #d5d5d5;}
	.viewType02 .viewPrevNext .iconElem {margin:0 18px;}
	.viewType02 .viewBtnArea {margin-top:26px;}

	.viewType03 .viewCtgy {font-size:16px; font-weight:700; text-align:center;}
	.viewType03 .viewInfoTitle {position:relative;}
	.viewType03 .viewTitle {margin-top:13px; font-size:25px; font-weight:700; text-align:center;}
	.viewType03 .viewContents {margin-top:40px;}
	.viewType03 .viewInfoWrap {border:1px solid #e1e1e1; margin-top:80px;}
	.viewType03 .viewTitle02 {position:relative; border-bottom:1px dashed #ebebeb; padding-left:59px; font-size:18px; font-weight:700; line-height:69px;}
	.viewType03 .viewTitle02:before {content:""; position:absolute; left:59px; top:-1px; background:#5b6976; width:32px; height:4px;}
	.viewType03 .viewInfo {background:#fbfbfb; padding:35px 60px; line-height:26px;}
	.viewType03 .viewInfo > table > tbody > tr > th {position:relative; padding-left:18px; font-size:16px; font-weight:700; text-align:left; vertical-align:top; color:#333;}
	.viewType03 .viewInfo > table > tbody > tr > th:before {content:""; position:absolute; left:0; top:10px; background:#9da7a9; border-radius:50%; width:4px; height:4px;}
	.viewType03 .viewInfo > table > tbody > tr > td {padding-bottom:24px; font-size:16px; vertical-align:top; color:#666;}
	.viewType03 .viewInfo > table > tbody > tr:last-child > td {padding-bottom:0;}
	.viewType03 .viewFileList {margin:0; padding:0; line-height:26px;}
	.viewType03 .viewFileList li {margin:0;}
	.viewType03 .viewInfoTitle .viewInfo02 {position:absolute; right:54px; top:50%; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.viewType03 .viewInfo02 {overflow:hidden; font-size:16px;}
	.viewType03 .viewInfo02 dt {float:left; color:#999;}
	.viewType03 .viewInfo02 dd {float:left; position:relative; margin:0 9px; padding-left:13px; color:#333;}
	.viewType03 .viewInfo02 dd:before {content:""; position:absolute; left:0; top:50%; background:#9da7a9; border-radius:50%; width:4px; height:4px; transform:translate(0, -50%); -ms-transform:translate(0, -50%);}
	.viewType03 .viewBtn {margin:21px 0 0; text-align:center;}

	.viewType03 .viewInfoWrap.type01 {font-size:16px; line-height:26px; color:#666;}
	.viewType03 .viewInfoWrap.type01 .viewFileList {border-top:1px solid #e1e1e1; margin-top:35px; padding-top:26px;}
	.viewType03 .viewInfoWrap.type01 .viewFileList strong {margin-right:50px;}
	.viewType03 .viewInfoWrap.type01 .iconClip {margin-right:13px;}

	.viewType03 .viewInfoWrap.type02 .viewInfo {background:none;}
	.viewType03 .viewInfoWrap.type02 .viewFileList {background:none; margin-top:20px;}

	.viewType03 .viewInfoWrap.type03 {background:#fbfbfb;}
	.viewType03 .viewInfoWrap.type03 .viewInfoTitle {background:white;}
	.viewType03 .viewInfoWrap.type03 .gallery-top {width:370px; margin-top:30px;}
	.viewType03 .viewInfoWrap.type03 .gallery-top .swiper-wrapper img {width:100%; height:247px;}
	.viewType03 .viewInfoWrap.type03 .gallery-thumbs {width:370px; margin-top:3px;}
	.viewType03 .viewInfoWrap.type03 .gallery-thumbs .swiper-wrapper img {width:100%; height:48px;}
	.viewType03 .viewInfoWrap.type03 .gallery-thumbs .swiper-slide {position:relative;}
	.viewType03 .viewInfoWrap.type03 .gallery-thumbs .swiper-slide-visible:before {content:""; position:absolute; left:0; top:0; background:rgba(255, 255, 255, .5); width:100%; height:100%;}
	.viewType03 .viewInfoWrap.type03 .gallery-thumbs .swiper-slide-thumb-active:before {content:""; position:absolute; left:0; top:0; background:none; border:1px solid #048c8c; width:71px; height:100%;}
	
	
/* panorama */
#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#autorotateToggle .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

#autorotateToggle .icon.on {
  display: none;
}

#autorotateToggle .icon.off {
  display: block;
}

#autorotateToggle.enabled .icon.on {
  display: block;
}

#autorotateToggle.enabled .icon.off {
  display: none;
}	